<% email_templates = email_templates.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :email_templates %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, email_templates = pagy(email_templates, page_param: :email_templates_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <% if email_templates.any? %>
          <%= t(".contexts.#{context.class.name.underscore}.description") %>
        <% end %>
        <%= render "shared/limits/index", model: email_templates.model %>
      <% end %>

      <% box.table do %>
        <% if email_templates.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/email_templates/email_template', collection: email_templates %>
            </tbody>
          </table>
        <% elsif context == team && can?(:create, EmailTemplate.new(team: team)) %>
          <div class="text-center py-12 px-6">
            <h2 class="text-xl font-semibold text-base-800 dark:text-base-200 mb-2">
              Create your first template
            </h2>
            <p class="text-base-600 dark:text-base-400 max-w-md mx-auto mb-6">
              Templates are the reusable layout for your sends &mdash; logo, footer, brand colors. Build one and reuse it across every campaign.
            </p>
            <%= link_to "Create a template →", [:new, :account, team, :email_template], class: "button" %>
          </div>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, EmailTemplate.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :email_template], class: "#{first_button_primary(:email_template)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if email_templates.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:email_template)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
