<% subscribers = subscribers.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :subscribers %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, subscribers = pagy(subscribers, page_param: :subscribers_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless subscribers.any?}") %>
        <%= render "shared/limits/index", model: subscribers.model %>
      <% end %>

      <% box.table do %>
        <% if subscribers.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.external_id.heading') %></th>
                <th><%= t('.fields.email.heading') %></th>
                <th><%= t('.fields.name.heading') %></th>
                <th  class="text-center"><%= t('.fields.subscribed.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/subscribers/subscriber', collection: subscribers %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Subscriber.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :subscriber], class: "#{first_button_primary(:subscriber)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if subscribers.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:subscriber)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
