<%= render 'account/shared/page' do |page| %>
  <% page.title t('.section') %>
  <% page.body.render 'account/shared/box', divider: true do |box| %>
    <% box.title t('.header') %>
    <% box.description do %>
      <%= t('.description') %>
    <% end %>

    <% box.body do %>
      <%= form_with model: @import,
            url: account_team_subscribers_imports_path(@team),
            html: {multipart: true},
            class: 'form' do |form| %>
        <%= render 'account/shared/forms/errors', form: form %>

        <% with_field_settings form: form do %>
          <%= render 'shared/fields/file_field', method: :csv %>
          <%= render 'shared/fields/text_area', method: :notes %>
        <% end %>

        <div class="buttons">
          <%= form.submit t('.buttons.create'), class: "button" %>
          <%= link_to t('global.buttons.cancel'), account_team_subscribers_imports_path(@team), class: "button-secondary" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
