<%# Ejected. Dropdown panel for nav subsections (Team, etc.). Replaces the
    bg-primary-700 chrome with a white-card-with-hairline-border dropdown
    matching DESIGN.md → "Cards". %>
<% expand ||= false %>

<% if expand %>
  <div class="mb-3">
    <%= render 'account/shared/menu/heading' do %>
      <%= title %>
    <% end %>

    <%= yield %>
  </div>
<% else %>
  <div>
    <div class="inline-block relative group" data-controller="desktop-menu" data-action="keydown->desktop-menu#hideSubmenu" id="<%= title.parameterize(separator: '_') %>">
      <%= render 'account/shared/menu/heading' do %>
        <%= title %>

        <svg class="inline-block shrink-0 h-3 w-3 ml-1 <%= @menu_orientation == :top ? "rotate-90 -mt-0.5" : "" %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      <% end %>

      <div class="invisible absolute group-hover:visible transition duration-150 scale-95 group-hover:scale-100 z-40
        <%= @menu_orientation == :top ? "top-100 left-0 -mt-1 pt-3" : "top-0 left-full -mt-3 -ml-5 pl-4" %>
      "
        data-desktop-menu-target="menuItemGroup"
      >
        <div class="bg-white dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 rounded-md py-2 px-2 w-60 shadow-sm">
          <% @last_menu_orientation = @menu_orientation %>
          <% @menu_orientation = :side %>
          <%= yield %>
          <% @menu_orientation = @last_menu_orientation%>
        </div>
      </div>
    </div>
  </div>
<% end %>
